{
  "variants":
  [
    "base",
    "fakenews",
    "fakenews-gambling",
    "fakenews-gambling-porn",
    "fakenews-gambling-porn-social",
    "fakenews-gambling-social",
    "fakenews-porn",
    "fakenews-porn-social",
    "fakenews-social",
    "gambling",
    "gambling-porn",
    "gambling-porn-social",
    "gambling-social",
    "porn",
    "porn-social",
    "social"
  ],
  "chosen":
  [
    "base",
    "fakenews",
    "fakenews-gambling",
    "fakenews-gambling-porn",
    "fakenews-gambling-porn-social",
    "fakenews-gambling-social",
    "fakenews-porn",
    "fakenews-porn-social",
    "fakenews-social",
    "gambling",
    "gambling-porn",
    "gambling-porn-social",
    "gambling-social",
    "porn",
    "porn-social",
    "social"
  ]
}
